<!-- ⚙️ ❌ 🔑 💠 ↙️ 🐠 🔐 💳 👀 🏦 -->
<table cellPadding="0" cellSpacing="0" border="0" style="width:100%;height:100%">
  <tr>
    <td>
      <br />
      <div class="margin pad text-white text-center">
        <h1 style="margin:0;">🐠 stripe-angular {{version}}</h1>
        <div class="flex-center flex-wrap child-margin flex-valign-center">
          <p>🎛 Dashboard for testing Stripe with Angular. Includes testing for many related work flows.</p>
          <div class="text-xxs">
            👀 <a class="underline" (click)="showMore = !showMore">read more about this tool</a>
          </div>
        </div>
        <div class="flex-center">
          <p *ngIf="showMore" class="text-xs opacity-70 max-width-900 text-justify">
            📕 This tool started as just functionality for Stripe elements for the Angular framework. It has since grown into a full featured testing app for not only just 🐠 stripe-angular but now also for Plaid, Stripe Webhooks, and so much more.
            <br />
            <br />
            For specific client side 🐠 stripe-angular documentation and support, <span class="underline"><a class="no-a-style" href="https://github.com/AckerApple/stripe-angular">use the README.md file</a></span>. Then come back here to interactively test time and time again to affirm understandings.
          </p>
        </div>
      </div>
      <ng-container *ngIf="!loaded">⏰ Loading Stripe...</ng-container>

      <ng-container *ngIf="loaded">
        <div class="flex-wrap flex-center">
          <div class="tool-wrap flex1">
            <h3 class="margin-0 text-left text-white">⚙️ Settings</h3>
            <div class="pad text-left flex-1 radius-5" style="background-color:#888;">
              <p class="text-xs opacity-80">Ensure you are testing with the right secrets</p>
              <ng-container *ngTemplateOutlet="keyInfoUi"></ng-container>
            </div>
          </div>

          <!-- hide elements when possibly changing keys -->
          <ng-container *ngIf="stripe && !changekey">
            <ng-container *ngTemplateOutlet="cardTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="bankTemplate"></ng-container>
            <tool-wrap class="flex1 flex-center" [api]="api.confirm_pay_intent" [(format)]="storage.format"></tool-wrap>
          </ng-container>
        </div>

        <ng-container *ngIf="sending">
          <div>
            Sending to Stripe...
          </div>
        </ng-container>

        <div *ngIf="lastError">
          <strong>🔴 Last recorded error</strong>
          <textarea wrap="off" class="bg-danger width-full"
            style="height:25vh;min-height:200px;"
          >{{lastError | json}}</textArea>
        </div>
      </ng-container>

      <br /><br />

      <div class="text-white flex-wrap flex-center child-margin-xs" style="max-width: 100vw">
        <!-- server functionality -->
        <ng-container *ngTemplateOutlet="stripeServerTemplate"></ng-container>
        <!-- webhook functionality -->
        <ng-container *ngTemplateOutlet="webhookTemplate"></ng-container>

        <div class="flex-1 text-white bg-grey border-bottom" style="max-width: 100vw">
          <div class="flex-valign-center flex-right flex-wrap child-margin"
            (click)="showPlaidMethods = !showPlaidMethods"
          >
            <a>
              {{ showPlaidMethods ? '🔽' : '▶️'}}
            </a>
            <a class="flex-1">
              <h2 class="opacity-half margin-0 pad-0">🏦 Plaid Functionality</h2>
              <small class="opacity-70">Helpful tools ONLY available in this demo by using entered <strong>plaidConfig</strong></small>
            </a>
          </div>

          <ng-container *ngIf="showPlaidMethods">
            <div class="pad flex-center flex-wrap">
              <ng-container *ngIf="localServerActive">
                <br />
                <form class="flex-1" (submit)="save()" action="javascript:">
                  <div class="flex-1 flex-wrap flex-center flex-valign-center child-margin-xxs">
                    <div class="flex-1 max-width-800">
                      <strong>🆔 CLIENT_ID</strong>
                      <div>
                        <input type="password" class="width-full"
                          (keyup)="storage.plaid.client_id=$event.target.value;"
                          [value]="storage.plaid.client_id || null"
                          placeholder="Plaid > Team > Keys > client_id"
                        />
                      </div>
                      <div *ngIf="storage.plaid.client_id?.length > 12" class="text-xs opacity-third pad-xxs pos-abs">
                        {{ storage.plaid.client_id | slice : 0 : 6 }}{{ 'x'.repeat((storage.plaid.client_id | slice : 8 : storage.plaid.client_id.length).length) }}
                      </div>
                    </div>

                    <div class="flex-1 max-width-800">
                      <strong>👂 SECRET</strong>
                      <div>
                        <input type="password" class="width-full"
                          (keyup)="storage.plaid.secret=$event.target.value;"
                          [value]="storage.plaid.secret || null"
                          placeholder="Plaid > Team > Keys > Sandbox"
                        />
                      </div>
                      <div *ngIf="storage.plaid.secret?.length > 12" class="text-xs opacity-third pad-xxs pos-abs">
                        {{ storage.plaid.secret | slice : 0 : 6 }}{{ 'x'.repeat((storage.plaid.secret | slice : 8 : storage.plaid.secret.length).length) }}
                      </div>
                    </div>

                    <div>
                      <div class="invisible">🔐</div>
                      <button type="submit" class="active-bg-balanced">
                        💾&nbsp;save
                      </button>
                    </div>
                  </div>
                  <div class="flex-center child-margin-xxs">
                    <div class="pos-rel text-xxs opacity-70 width-30vw">
                      <div class="pos-abs flex-center width-full text-center pad-top-3x">
                        <ng-container *ngTemplateOutlet="localStorageCheck"></ng-container>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-container>
              <br />
            </div>

            <div class="flex-wrap flex-center">
              <!-- step 1 -->
              <ng-container *ngIf="localServerActive">
                <tool-wrap class="flex1 flex-stacked" [api]="plaidServerApis.plaid_linkTokenCreate" [(format)]="storage.format"></tool-wrap>
              </ng-container>

              <!-- UI create public token: step 2 -->
              <tool-wrap class="flex1 flex-stacked" [api]="api.plaid_createPublicToken" [(format)]="storage.format"></tool-wrap>

              <ng-container *ngIf="localServerActive">
                <!-- step 3 & 4 -->
                <tool-wrap class="flex1 flex-stacked" [api]="plaidServerApis.plaid_publicTokenExchange" [(format)]="storage.format"></tool-wrap>
                <tool-wrap class="flex1 flex-stacked" [api]="plaidServerApis.plaid_stripeBankCreate" [(format)]="storage.format"></tool-wrap>

                <tool-wrap class="flex1 flex-stacked" [api]="plaidServerApis.getAccounts" [(format)]="storage.format"></tool-wrap>
                <tool-wrap class="flex1 flex-stacked" [api]="plaidServerApis.getLinkToken" [(format)]="storage.format"></tool-wrap>
                <tool-wrap class="flex1 flex-stacked" [api]="plaidServerApis.getAuth" [(format)]="storage.format"></tool-wrap>
              </ng-container>
            </div>

            <div *ngIf="!localServerActive" class="pad">
              <ng-container *ngTemplateOutlet="warnNoLocalServer"></ng-container>
            </div>
          </ng-container>
        </div>
      </div>

      <br />

      <div class="tool-wrap" style="align-items: center;">
        <h2
          style="margin:0;text-align:left;color:white;"
        >📕 Best of Resources</h2>
        <div style="border-radius:5px;background-color:#888;text-align:left;padding:1em;">
          <ng-container *ngTemplateOutlet="resources"></ng-container>
        </div>
      </div>
      <br />
    </td>
  </tr>
</table>


<ng-template #keyInfoUi>
  <div *ngIf="!changekey else storageForm">
    <div class="flex flex-wrap child-margin text-smx">
      <div class="flex-1">
        <strong>🗝 Publishable Key</strong>
        <div class="flex">
          <div (click)="copyText(storage.key)" style="cursor: pointer;" class="hover-highlight"
          >{{ storage.key | slice : 0 : 16 }}...</div>
          <key-changer [keys]="storage.publicKeys" [(value)]="storage.key"
            (valueChange) = "tempPublishableKey=$event;save()"
          ></key-changer>
        </div>
      </div>

      <div *ngIf="storage.privateKey" class="flex1">
        <strong>🔐 Private Key</strong>
        <div class="flex">
          <ng-container *ngTemplateOutlet="maskedPrivateKey"></ng-container>
          <ng-container *ngTemplateOutlet="privateKeyChange"></ng-container>
        </div>
      </div>

      <div *ngIf="storage.webhookSigningSecret" class="flex-1">
        <strong>🪝 Webhook Signing Secret</strong>
        <div class="hover-highlight cursor-pointer"
        (click)="copyText(storage.webhookSigningSecret)"
        >{{ storage.webhookSigningSecret | slice : 0 : 8 }}*****************{{ storage.webhookSigningSecret | slice : -6 }}</div>
      </div>
    </div>

    <br />

    <button type="button" (click)="copyShareUrl()" class="active-bg-energized"
      style="width:50%"
    >✍️ copy share url</button>

    <button type="button" class="active-bg-energized"
      (click)="changekey=!changekey"
      style="width:50%"
    >🔧 edit</button>

    <ng-container *ngIf="publishableKey=='pk_test_5JZuHhxsinNGc5JanVWWKSKq'">
      <br />
      <br />
      <div style="font-size:0.75em;">
        <strong style="font-size:1.2em;color:orange;">WARNING</strong>: You need to enter your own key above.
        <p>
          You will have limited functionality without entering your own Stripe key. <a href="https://dashboard.stripe.com/register" target="_blank">
          create account</a>
        </p>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #storageForm>
  <div *ngIf="changekey">
    <form action="javascript:" (submit)="save();changekey=false">
      <div class="flex-wrap flex-top child-margin">
        <div class="flex-1">
          <div>
            <div class="flex-apart">
              <strong>👁 🗝 publishableKey</strong>
              <key-changer [keys]="storage.publicKeys" [(value)]="storage.key"
                (valueChange) = "tempPublishableKey=$event;save()"
              ></key-changer>
            </div>
            <div>
              <input
                (keyup)="tempPublishableKey=$event.target.value"
                [value]="tempPublishableKey"
                style="width:100%"
              />
            </div>
            <div class="pos-rel text-xxs opacity-70">
              <div class="pos-abs">
                <ng-container *ngTemplateOutlet="localStorageCheck"></ng-container>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="enableServerMode || storage.webhookSigningSecret" class="flex-1">
          <ng-container *ngTemplateOutlet="editWebhookSecret"></ng-container>
        </div>

        <div *ngIf="enableServerMode || storage.privateKey" class="flex-1">
          <ng-container *ngTemplateOutlet="editPrivateKey"></ng-container>
        </div>

        <div>
          <label for="enableServerMode" style="align-items: center">
            <input
              type="checkbox" name="enableServerMode" id="enableServerMode"
              (change)="toggleServerMode()"
              [checked] = "enableServerMode"
            />
            <span> 🔗 enable server functionality</span>
          </label>
        </div>

        <ng-container *ngIf="storage.saveKeyLocally">
          <div class="width-full"></div>

          <div class="flex1">
            <strong>👁 🗝 Switchable Public Keys</strong>
            <div>
              <ng-container *ngTemplateOutlet="keysInputArray;context:{array:storage.publicKeys}"></ng-container>
            </div>
          </div>

          <div class="flex1">
            <strong>🔐 Switchable Private Keys</strong>
            <div>
              <ng-container *ngTemplateOutlet="keysInputArray;context:{array:storage.privateKeys}"></ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <br />

      <!-- reusable metadata -->
      <div>
        <div>
          <strong>
            <label for="saveRequestsLocal" title="Greatly assists coming back to this interface">
              <input
                type="checkbox" name="saveRequestsLocal" id="saveRequestsLocal"
                (change)="storage.saveRequestsLocal = !storage.saveRequestsLocal"
                [checked] = "storage.saveRequestsLocal"
              /> Reuse metadata in all requests
            </label>
          </strong>
        </div>
        <textarea [disabled]="!storage.saveRequestsLocal" wrap="off" style="width:100%;height:25vh;min-height:200px;"
          (change)="updateStorageMeta($event.target.value)"
        >{{ storage.metadata | json }}</textArea>
      </div>

      <br />

      <!-- Removed 8/16/21 to prevent revealing sensitive info
        <div>
          <strong>Your local storage</strong>
          <textarea wrap="off" style="width:100%;height:25vh;min-height:200px;" disabled
          >{{ storage | json }}</textArea>
        </div>
      -->

      <div class="flex-wrap child-margin-xs flex-center child-flex-1">
        <button *ngIf="storage.privateKey || storage.key"
          type="button" (click)="deleteLocalStorage()"
          class="active-bg-energized bg-black text-white"
        >🗑 clear localStorage</button>

        <button type="button" (click)="changekey = !changekey"
          class="bg-grey text-white active-bg-energized"
        >❌ cancel</button>

        <button type="submit" class="active-bg-energized">💾 save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #cardUi>
  <div id="card-like-element" style="background-color:white;border-radius: 5px;border:1px solid #DDD;padding:.33em;">
    <stripe-card
      #stripeCard
      (changed) = "api.card.changedEvent = $event"
      [options] = "options"
      [(complete)]="cardComplete"
      (catch)="sending=false;lastError=$event"
      (invalidChange)="sending=false;lastError=$event"
      (cardMounted) = "setCardElements($event)"

      [(token)]="api.card.result.token"
      (tokenChange)="sending=false;flatten(api.card)"

      [(source)]="api.card.result.source"
      (sourceChange)="flatten(api.card)"

      [(paymentMethod)]="api.card.result.payment_method"
      (paymentMethodChange)="flatten(api.card)"
    ></stripe-card>
  </div>

  <!--<div *ngIf="!cardComplete;" class="opacity-half text-center pad-v">
    ...awaiting card entry above...
  </div>-->

  <div class="text-center opacity-70">
    <small
      [class.text-assertive]="!cardComplete"
      [class.text-balanced]="cardComplete"
    ><strong>card entry status</strong>: {{ cardComplete ? 'complete' : 'incomplete' }}</small>
  </div>

  <div class="pad-top">
    <div class="flex-wrap">
      <button type="button" class="flex-1 active-bg-balanced" [disabled]="!cardComplete"
        (click)="lastError=null;sending=true;stripeCard.createPaymentMethod(storage.requests.paymentMethod)"
        style="background-color:#99FFFF;"
      >💳 create payment method</button>

      <button type="button" class="flex-1 active-bg-balanced" [disabled]="!cardComplete"
        (click)="lastError=null;sending=true;stripeCard.createSource(storage.requests.source)"
        style="background-color:#99FFFF;"
        title="Using Payment Method instead is recommended"
      >💳 create source</button>

      <button type="button" class="flex-1 active-bg-balanced" [disabled]="!cardComplete"
        (click)="lastError=null;sending=true;stripeCard.createToken(extraData)"
        style="background-color:#99FFFF;"
        title="Using Payment Method instead is recommended"
      >🪙 create token</button>
    </div>

    <div class="text-xs pad-v">
      <h4>Common copy/paste card numbers</h4>

      <div class="flex-wrap child-margin-xxs child-flex-1 text-center">
        <a (click)="copyText('4000056655665556')" class="border border-white pad-xxs radius-10 active-bg-balanced"
          title="Recommended for most success across all functionality. Even works for external_accounts"
        >⭐️ <span class="text-xs">4000056655665556</span> visa debit 📋</a>

        <a (click)="copyText('4242424242424242')" class="border border-white pad-xxs radius-10 active-bg-balanced"
          title="General success. Cannot be used for **Accounts** (Card no is for credit card, only debit cards allowed)"
        ><span class="text-xs">4242424242424242</span> visa 📋</a>

        <a (click)="copyText('4000002500003155')" class="border border-white pad-xxs radius-10 active-bg-balanced"
          title=""
        >✍️ <span class="text-xs">4000002500003155</span> needs one-time auth 📋</a>

        <a (click)="copyText('4000000000003220')" class="border border-white pad-xxs radius-10 active-bg-balanced"
          title=""
        >✍️ <span class="text-xs">4000000000003220</span> needs auth 📋</a>
      </div>
    </div>

    <!--<h4>Additional functionality</h4>-->
    <div class="flex-wrap">
      <button type="button" class="flex-1"
        (click)="editOptions=!editOptions"
        [style.background-color] = "editOptions && '#0099CC' || null"
      >🔧 options</button>
      <ng-container *ngTemplateOutlet="optionalCardControls"></ng-container>
    </div>

    <div *ngIf="editExtraData">
      <br />
      <div style="display:flex;justify-content:space-between">
        <strong title="Card specific way of providing token related info (includes metadata)"
        >🪙 token data</strong>
        <small>
          <a href="https://stripe.com/docs/api/tokens" target="_blank">token data</a>
        </small>
      </div>
      <textarea wrap="off" style="width:100%;height:25vh;min-height:200px;"
        (change)="changeExtraData($event.target.value)"
      >{{ extraData | json }}</textArea>
    </div>

    <div *ngIf="editPaymentMethodRequest">
      <br />
      <div style="display:flex;justify-content:space-between">
        <div>💳 payment method data</div>
        <small>
          <a href="https://stripe.com/docs/payments/payment-methods/overview" target="_blank">overview</a>&nbsp;
          <a href="https://stripe.com/docs/js/payment_methods/create_payment_method" target="_blank">docs</a>
        </small>
      </div>
      <textarea wrap="off" style="width:100%;height:25vh;min-height:200px;" (change)="changePaymentMethodRequest($event.target.value)">{{ storage.requests.paymentMethod | json }}</textArea>
      <div style="opacity: 0.5;font-size:0.7em;padding:1em 0;">creating a payment method alone does not fire any webhooks. Use Source instead</div>
    </div>

    <div *ngIf="editSourceRequest">
      <br />
      <div style="display:flex;justify-content:space-between">
        <strong [style.color]="storage.temp.invalidSourceData && 'red'">source data</strong>
        <small>
          <a href="https://stripe.com/docs/js/tokens_sources/create_source" target="_blank">docs</a>
        </small>
      </div>
      <textarea wrap="off" style="width:100%;height:25vh;min-height:200px;" (change)="changeSourceRequest($event.target.value)">{{ storage.requests.source | json }}</textArea>
    </div>


    <div *ngIf="editOptions">
      <br />
      <div style="display:flex;justify-content:space-between">
        <strong>options</strong>
        <small>
          <a href="https://stripe.com/docs/js/elements_object/create_element?type=card" target="_blank">docs</a>
        </small>
      </div>
      <textarea
        wrap="off" style="width:100%;height:25vh;min-height:200px;"
        (change)="changeOptions($event.target.value)"
      >{{ options | json }}</textArea>
    </div>

  </div>

  <br />

  <div *ngIf="api.card.result.token">
    <br />
    <strong>↘️ Token Response</strong>
    <textarea
      disabled wrap="off" style="width:100%;height:25vh;min-height:200px;"
    >{{ api.card.result.token | json }}</textArea>
  </div>

  <div *ngIf="api.card.result.source">
    <br />
    <div style="display:flex">
      <strong style="flex-grow:1">↘️ Source Response</strong>
      <small style="opacity:.5;font-size: 0.8em;">
        <a style="cursor: pointer;border:1px solid black;border-radius: 5px;padding:.2em;margin:.2em;"
          class="hover-highlight" (click)="copyText(api.card.result.source.id)"
        >✍️ copy id</a>
      </small>
    </div>
    <textarea disabled wrap="off" style="width:100%;height:25vh;min-height:200px;">{{ api.card.result.source | json }}</textArea>
  </div>

  <div *ngIf="api.card.result.payment_method">
    <br />
    <div class="flex">
      <strong>↘️ Payment Method Response</strong>
      <small class="opacity-50 text-xxs">
        <a class="hover-highlight cursor-pointer border radius-5 pad-xxs margin-xxs"
          (click)="copyText(api.card.result.payment_method.id)"
        >✍️ copy id</a>
      </small>
    </div>
    <textarea
      disabled wrap="off" style="width:100%;height:25vh;min-height:200px;"
    >{{ api.card.result.payment_method | json }}</textArea>
  </div>

  <div *ngIf="api.card.changedEvent">
    <strong style="opacity: 50%;">INFO: Change Event</strong>
    <textarea
      wrap="off" style="width:100%;height:25vh;min-height:200px;" disabled
      (change)="changeExtraData($event.target.value)"
    >{{ api.card.changedEvent | json }}</textArea>
  </div>
</ng-template>

<ng-template #bankUi>
  <stripe-bank
    #stripeBank
    [(token)]="api.bank.result"
    (tokenChange)="sending=false;flatten(api.bank)"
    (catch)="sending=false;lastError=$event"
    (invalidChange)="sending=false;lastError=$event"
  ></stripe-bank>
  <textarea
    wrap="off" style="width:100%;height:25vh;min-height:200px;"
    (change)="changeKey(api.bank, $event.target.value)"
  >{{ api.bank.data | json }}</textArea>

  <br />

  <div style="text-align:right;">
    <button
      type="button"
      (click)="lastError=null;sending=true;stripeBank.createToken(api.bank.data)"
    >🪙 create token</button>
  </div>

  <!-- bank token success output -->
  <div *ngIf="api.bank.result">
    <br />
    <strong>Bank Token</strong>
    <textarea
    disabled wrap="off" style="width:100%;height:25vh;min-height:200px;"
    >{{ api.bank.result | json }}</textArea>
  </div>

  <ng-container *ngIf="storage.privateKey && api.bank.result?.bank_account?.id">
    <br />
    <div style="display:flex;flex-wrap: wrap;align-items: baseline;">
      <h3 style="flex-grow:1;color:orange;">Bank Server Functions</h3>
      <small class="opacity-half text-xs">uses 🔐 privateKey</small>
    </div>

    <table cellPadding="3" cellSpacing="0" border="0" class="width-full">
      <tHead>
        <tr>
          <th class="border-bottom">action</th>
          <th class="border-bottom">route</th>
          <th class="border-bottom text-right">docs</th>
        </tr>
      </tHead>
      <tr class="text-xs">
        <td>
          <button type="button" class="active-bg-energized"
            (click)="createCustomerByToken(api.bank.result)"
            title = "Connect the bank token created above with a Stripe customer"
          >👤 new customer by 🪙 token</button>
        </td>
        <td>POST /customers</td>
        <td class="text-right">
          <a target="_blank" href="https://stripe.com/docs/ach#manually-collecting-and-verifying-bank-accounts">📄</a>
        </td>
      </tr>
    </table>

    <div *ngIf="create_customer.result?.id">
      <br />
      <div style="display:flex;flex-wrap:wrap;align-items:baseline;">
        <h3 class="margin-0">👀 Verify customer micro deposits</h3>
        <div class="flex-wrap child-margin">
          <small class="flex-1">
            Use privateKey to mimic backend server calls to Stripe to validate verification amounts
          </small>
          <small>
            <a style="color:white;" href="https://stripe.com/docs/ach#testing-ach" target="_blank">test data</a>
          </small>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="flex-1 margin-xxs">
          <div class="flex flex-space-between flex-left">
            <span>Verify Amount 1</span>
            <sup>
              <a (click)="api.bank.verify.amount1=32" class="opacity-70 text-xxs border radius-10 pad-xxs cursor"
              >↙️ 32</a>
            </sup>
          </div>
          <input style="width:100%" type="number"
            [value]="api.bank.verify.amount1"
            (keyup)="api.bank.verify.amount1=$event.target.value"
            placeholder="Enter 32 here"
          />
        </div>
        <div style="flex-grow: 1;margin:0.4em;">
          <div style="display:flex;justify-content: space-between;align-items: flex-start;">
            <span>Verify Amount 2</span>
            <sup>
              <a (click)="api.bank.verify.amount2=45" class="opacity-70 text-xxs border radius-10 pad-xxs cursor"
              >↙️ 45</a>
            </sup>
          </div>
          <input
            style="width:100%" type="number"
            [value]="api.bank.verify.amount2"
            (keyup)="api.bank.verify.amount2=$event.target.value"
            placeholder="Enter 45 here"
          />
        </div>
      </div>
      <button type="button" (click)="verifyBank()" class="active-bg-energized">verify</button>

      <div *ngIf="api.bank.verifyResponse">
        <br />
        <strong>Verification Result</strong>
        <textarea
          disabled wrap="off" style="width:100%;height:25vh;min-height:200px;"
        >{{ api.bank.verifyResponse | json }}</textArea>
      </div>
    </div>
  </ng-container>
</ng-template>

<style>
	.resource-link {
    flex-grow:1;margin:.3em;padding:.3em;text-decoration: none;
    border-radius:5px;border:1px solid rgba(233, 233, 233, 0.678);
  }

  .hover-highlight:hover {
    background-color: khaki;
  }

  .hover-highlight:active {
    background-color: blue;
  }
</style>

<ng-template #resources>
  <h4>🚀 Setup and starter docs</h4>
  <div class="text-center flex-center flex-wrap">
    <a href="https://stripe.com/docs/payouts"
      target="_blank" class="resource-link"
    >
      💰 Receiving payouts
      <div class="text-xxxs opacity-half">connecting Stripe to your bank account</div>
    </a>

    <a href="https://stripe.dev/elements-examples/"
      target="_blank" class="resource-link"
    >🎨 stripe elements examples</a>

    <a href="https://www.youtube.com/watch?v=2kc-FjU2-mY"
      target="_blank" class="resource-link"
    >🎥 🔐 Customer Authentication & 3D Secure</a>

    <a href="https://stripe.com/docs/sources/ach-credit-transfer"
      target="_blank" class="resource-link"
      title="Receiving money from your customers"
    >🏦 ACH credit transfer</a>

    <a href="https://plaid.com/docs/auth/partnerships/stripe/"
      target="_blank" class="resource-link"
      title="becoming outdated by beta Plaid but still useful docs"
    >🏦 Plaid + Stripe</a>
    <a href="https://plaid.com/docs/quickstart/#how-it-works"
      target="_blank" class="resource-link"
    >🏦 Plaid quickstart</a>
    <a href="https://stripe.com/docs/ach#using-plaid"
      target="_blank" class="resource-link"
      title="becoming outdated by beta Plaid but still useful docs"
    >🏦 Plaid from Stripe POV</a>
    <a href="https://www.youtube.com/watch?v=aVJz1OUKcIM"
      target="_blank" class="resource-link"
      title="becoming outdated by beta Plaid but still useful docs"
    >🏦 🎥 Plaid + Stripe Youtube</a>
    <a href="https://plaid.com/docs/api/"
      target="_blank" class="resource-link"
    >🏦 Plaid API Overview</a>
  </div>

  <h4>🔬 Technical implementation docs</h4>
  <div style="text-align:center;display:flex;justify-content: center;flex-wrap:wrap">
    <a href="https://stripe.com/docs/api/events/types"
      target="_blank" class="resource-link"
    >🪝 Webhooks types of events</a>

    <a href="https://github.com/AckerApple/stripe-angular/blob/gh-pages/src/components/app.component.ts"
      target="_blank" class="resource-link"
    >🐠 demo code on github</a>

    <a href="https://stripe.com/docs/error-codes"
      target="_blank" class="resource-link"
    >🔴 error codes</a>

      <a href="https://stripe.com/docs/js"
      target="_blank" class="resource-link"
    >📄 stripe.js docs</a>

    <a href="https://stripe.com/docs/api/sources/object#source_object-type"
      target="_blank" class="resource-link"
    >📄 source types</a>

    <a href="https://www.youtube.com/watch?v=_1EX-DrikoA"
      target="_blank" class="resource-link"
    >🎥 🏦 ACH bank account setup</a>

    <a href="https://stripe.com/docs/payments/payment-intents/migration/charges"
      target="_blank" class="resource-link"
    >Pay Intent API VS. Charges API</a>

    <a href="https://stripe.com/docs/api/cards/update"
      target="_blank" class="resource-link"
    >💳 update source card</a>

    <a href="https://support.stripe.com/questions/check-if-a-card-is-valid-without-a-charge"
      target="_blank" class="resource-link"
    >💳 ✅ check card valid without charge</a>
  </div>
</ng-template>

<ng-template #optionalCardControls>
  <button type="button" class="active-bg-energized flex-1"
    (click)="editSourceRequest=!editSourceRequest"
    [style.background-color] = "editSourceRequest && '#0099CC' || null"
    title="Using Payment Method instead is recommended"
  >💳 source data</button>

  <button type="button" class="active-bg-energized flex-1"
    (click)="editPaymentMethodRequest=!editPaymentMethodRequest"
    [style.background-color] = "editPaymentMethodRequest && '#0099CC' || null"
  >💳 payment method data</button>

  <button type="button" class="active-bg-energized flex-1"
    (click)="editExtraData=!editExtraData"
    [style.background-color] = "editExtraData && '#0099CC' || null"
    title="Using Payment Method instead is recommended"
  >🪙 token data</button>
</ng-template>

<ng-template #editPrivateKey>
  <div class="flex-apart">
    <strong
      title="This demo offers helpful server functionality"
    >🔐 Private Key</strong>
    <ng-container *ngTemplateOutlet="privateKeyChange"></ng-container>
  </div>
  <div>
    <input type="password"
      (keyup)="tempPrivateKey=$event.target.value;log('tempPrivateKey length update' + tempPrivateKey.length)"
      [value]="tempPrivateKey"
      style="width:100%"
    />
  </div>
  <div class="pos-rel text-xxs opacity-70">
    <div class="pos-abs">
      <ng-container *ngTemplateOutlet="maskedPrivateKey"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #webhookFunctionality>
  <div class="flex-wrap flex-center">
    <div *ngIf="storage.webhookSigningSecret" class="tool-wrap">
      <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
        <h3 style="margin:0;padding:0;flex-grow:1;color:white">
          <label for="card-like-element">
            🔬 Generate Test Header String
          </label>
        </h3>
        <small>
          <a href="https://www.npmjs.com/package/stripe#testing-webhook-signing" style="color:white;" target="_blank"
          >api docs</a>
        </small>
      </div>
      <div class="tool-panel">
        Paste your payload below to encode into a signing secret
        <simple-route-edit [config]="api.testHeader" copy="result" [(format)]="storage.format"></simple-route-edit>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editWebhookSecret>
  <strong>🪝 webhookSigningSecret</strong>
  <div>
    <input type="password"
      (keyup)="tempWebhookSigningSecret=$event.target.value;log('tempWebhookSigningSecret length update' + tempWebhookSigningSecret.length)"
      [value]="tempWebhookSigningSecret"
      style="width:100%"
    />
  </div>
  <div class="pos-rel">
    <small class="pos-abs opacity-half text-xxs">
      This demo offers helpful webhook server functionality
    </small>
  </div>
</ng-template>

<ng-template #warnNoLocalServer>
  <div>
    <div class="bg-warning pad">
      <div class="text-dark">
        <div class="flex-wrap">
          <span class="flex-1">
            ⚠️ No 🐠 stripe-angular local server detected.
          </span>
          <a (click)="checkLocalServer()">🔄</a>
        </div>
        <br /><br />
        <div>
          <small class="opacity-70">Additional functionality available, run the following commands in a local terminal:</small>
        </div>
      </div>
<pre class="bg-dark pad-xs margin-0">
git clone --branch gh-pages https://github.com/ackerapple/stripe-angular
cd stripe-angular
npm install --production
npm run start
</pre>
    </div>
    <div class="text-right">
      <button (click)="localServerActive = true" class="active-bg-energized">
        🔧 show tools anyways
      </button>
    </div>
  </div>
</ng-template>

<ng-template #localStorageCheck>
  <label for="saveKeyLocally" style="align-items: center">
    <input
      type="checkbox" name="saveKeyLocally" id="saveKeyLocally"
      (change)="storage.saveKeyLocally = !storage.saveKeyLocally"
      [checked] = "storage.saveKeyLocally"
    />
    <span>💾 save in localStorage</span>
  </label>
</ng-template>

<ng-template #maskedPrivateKey>
  <div class="hover-highlight cursor-pointer"
    (click)="copyText(storage.privateKey)"
  >{{ storage.privateKey | slice : 0 : 5 }}*****************{{ storage.privateKey | slice : -4 }}</div>
</ng-template>

<ng-template #privateKeyChange>
  <key-changer [keys]="storage.privateKeys" [(value)]="storage.privateKey"
    (valueChange) = "tempPrivateKey=$event;save()"
  ></key-changer>
</ng-template>

<ng-template #cardTemplate>
  <div class="tool-wrap flex1">
    <label for="card-like-element" class="flex flex-wrap flex-valign-center color-white">
      <h3 style="flex-grow:1;margin:0;text-align:left;">💳 Card Element</h3>
      <small class="underline">
        <a href="https://stripe.com/docs/testing#cards" target="_blank" class="text-xs no-a-style">demo card nums</a>
      </small>
    </label>

    <div class="tool-panel">
      <p class="text-xs text-xs opacity-80">Test &lt;stripe-card&gt; component by entering card details below</p>
      <ng-container *ngTemplateOutlet="cardUi"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #bankTemplate>
  <div class="tool-wrap flex1">
    <div class="flex flex-wrap flex-valign-bottom text-white">
      <h3 class="margin-0 pad-0 flex-1">
        <label for="card-like-element">🏦 Bank Account</label>
      </h3>
      <small class="underline">
        <a href="https://stripe.com/docs/ach#testing-ach" target="_blank" class="text-xs no-a-style"
        >demo accounts</a>
      </small>
    </div>
    <div class="tool-panel">
      <p class="text-xs text-xs opacity-80">Test &lt;stripe-bank&gt; component by entering bank details below</p>
      <ng-container *ngTemplateOutlet="bankUi"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #stripeServerTemplate>
  <div class="bg-grey border-bottom flex-1"
    [class.width-full]="showServerMethods"
  >
    <a class="flex-valign-center flex-wrap flex-right child-margin" (click)="showServerMethods = !showServerMethods">
      <span>{{ showServerMethods ? '🔽' : '▶️'}}</span>
      <span class="flex-1">
        <h2 class="opacity-half margin-0 pad-0">🔗 Server Functionality</h2>
        <small class="opacity-70">Helpful tools ONLY available in this demo by Stripe <strong>privateKey</strong></small>
      </span>
    </a>

    <div *ngIf="showServerMethods">
      <div class="pad flex-center">
        <form class="flex-1 max-width-900" (submit)="save()" action="javascript:">
          <div class="flex">
            <div class="flex-1">
              <ng-container *ngTemplateOutlet="editPrivateKey"></ng-container>
            </div>
            <div class="flex-valign-bottom">
              <div class="flex-wrap">
                <button type="submit" class="active-bg-balanced">
                  💾&nbsp;save
                </button>

                <button type="button" (click)="toggleServerMode()" class="active-bg-energized"
                  [class.bg-assertive] = "!enableServerMode"
                  [class.bg-balanced] = "enableServerMode"
                  title = "tap to toggle enabled/disable and clear localStorage"
                >{{ enableServerMode ? '☑️ enabled' : '◻️ disabled' }}</button>
                <div class="width-full text-xxs pos-rel">
                  <div class="pos-abs opacity-80">
                    <label for="savePrivateKeyLocally" style="align-items: center">
                      <input
                        type="checkbox" name="savePrivateKeyLocally" id="savePrivateKeyLocally"
                        (change)="storage.savePrivateKeyLocally = !storage.savePrivateKeyLocally"
                        [checked] = "storage.savePrivateKeyLocally"
                      />
                      <span>💾 save in localStorage</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <br /><br />

      <server-tools [api]="api" [apiGroups]="apiGroups" [storage]="storage"></server-tools>

      <br />
      <button (click)="showServerMethods = false" class="active-bg-energized">❌ close</button>
    </div>
  </div>
</ng-template>

<ng-template #webhookTemplate>
  <div class="flex-1 bg-grey border-bottom text-white">
    <div class="flex-valign-center flex-right flex-wrap child-margin"
      (click)="showWebhookMethods = !showWebhookMethods"
    >
      <a>
        {{ showWebhookMethods ? '🔽' : '▶️'}}
      </a>
      <a class="flex-1">
        <h2 class="opacity-half margin-0 pad-0">🪝 Webhook Functionality</h2>
        <small class="opacity-70">Helpful tools ONLY available in this demo by using entered <strong>webhookSigningSecret</strong></small>
      </a>
    </div>

    <ng-container *ngIf="showWebhookMethods">
      <br />

      <div class="pad flex-center">
        <form class="flex-1 max-width-900" (submit)="save()" action="javascript:">
          <div class="flex">
            <div class="flex-1">
              <ng-container *ngTemplateOutlet="editWebhookSecret"></ng-container>
            </div>
            <div>
              <div class="invisible">🔐</div>
              <button type="submit" class="active-bg-balanced">
                💾&nbsp;save
              </button>
            </div>
          </div>
        </form>
      </div>

      <br />

      <ng-container *ngTemplateOutlet="webhookFunctionality"></ng-container>
      <br />
      <button (click)="showWebhookMethods = false" class="active-bg-energized">❌ close</button>
    </ng-container>
  </div>
</ng-template>

<ng-template #keysInputArray let-array="array">
  <ng-container *ngFor="let item of array; let index=index">
    <div class="flex-valign-center">
      <input type="text" maxLength="125" [value]="item.title || ''"
        (keyup)="item.title=$event.target.value" placeholder="key title"
      />&nbsp;=&nbsp;
      <input type="password" placeholder="🔑 value"
        (keyup)="item.value=$event.target.value"
        [value]="item.value || ''"
        style="width:100%"
      />
      <a (click)="array.splice(index, 1)">❌</a>
    </div>
  </ng-container>
  <button type="button" class="width-full"
    (click)="array.push({})"
  >add key</button>
</ng-template>
