<a (click)="showPastes = !showPastes">💠
  <menu-options *ngIf="showPastes" title="quick pastes">
    <ng-container *ngFor="let item of pastes">
      <ng-container *ngIf="item.api[ item.valueKey ]">
        <ng-template #option>
          <a
            (click)="pasteByPaste( item )"
            [title]="item.api[ item.valueKey ]"
            class="pointer pad-xxs hover-bg-energized text-xxs active-bg-balanced"
          >{{ item.pasteKey && item.api[item.valueKey] === api[ item.pasteKey ] ? '☑️' : '↙️' }} set <strong>{{item.pasteKey}}</strong> = {{ item.title || (item.getTitle && item.getTitle(api)) || item.api[ item.valueKey ] }}</a>
        </ng-template>
      </ng-container>
    </ng-container>
  </menu-options>
</a>
