<div *ngIf="storage.key && !edit else storageForm">
  <div class="flex flex-wrap text-smx child-margin">
    <div class="flex-1">
      <strong class="nowrap">🗝 Publishable Key</strong>
      <div class="flex-valign-center">
        <div (click)="copyText(storage.key)" style="cursor: pointer;" class="hover-highlight"
        >{{ storage.key | slice : 0 : 16 }}...</div>
        <key-changer [keys]="storage.publicKeys" [(value)]="storage.key"
          (valueChange) = "tempPublishableKey=$event;save()"
        ></key-changer>
      </div>
    </div>

    <div *ngIf="storage.webhookSigningSecret" class="flex-1">
      <strong class="nowrap">🪝 Webhook Signing Secret</strong>
      <div class="flex-valign-center">
        <div class="hover-highlight cursor-pointer"
        (click)="copyText(storage.webhookSigningSecret)"
        >{{ storage.webhookSigningSecret | slice : 0 : 8 }}*****************{{ storage.webhookSigningSecret | slice : -6 }}</div>
        <key-changer [keys]="storage.webhookSigningSecrets" [(value)]="storage.webhookSigningSecret"
        (valueChange) = "storage.webhookSigningSecret=$event;save()"
        ></key-changer>
      </div>
    </div>
  </div>

  <br />

  <div class="flex flex-wrap child-margin-xxs">
    <button type="button" (click)="copyShareUrl()" class="flex1 hover-bg-positive active-bg-balanced"
    >✍️ copy share url</button>

    <button type="button" class="flex1 hover-bg-positive active-bg-balanced"
      (click)="editChange.emit(edit = !edit)"
    >🔧 edit</button>
  </div>
</div>

<ng-template #storageForm>
  <form (submit)="save();editChange.emit(edit=false)">
    <div class="flex-wrap child-margin-xxs child-pad-xxs">
      
      <div class="flex1 bg-grey">
        <div class="flex-apart">
          <strong class="nowrap">👁 🗝 Public Keys</strong>
          <div class="flex-1 text-center pad-left">
            <a class="text-xxs text-white opacity-half nowrap" target="_blank"
              href="https://dashboard.stripe.com/test/apikeys"
            >🔗 stripe keys</a>
          </div>
        </div>
        <div>
          <keys-input-array inputType="password" [array]="storage.publicKeys" [(selected)]="storage.key" allowChange="1" inputPlaceholder="🔑 value">
            <ng-template #valueFooter let-value="value">
              <div class="pos-rel width-full">
                <div class="pos-abs opacity-70 text-xxxs text-center width-full" style="top:-.9em">
                  <masked-key [value]="value"></masked-key>
                </div>      
              </div>
            </ng-template>
          </keys-input-array>
        </div>
      </div>

      <div class="bg-grey flex1 nowrap">
        <div>
          <label for="enableServerMode">
            <input
              type="checkbox" name="enableServerMode" id="enableServerMode"
              (change)="toggleServerMode()"
              [checked] = "enableServerMode"
            />
            <span> 🔗 enable server functionality</span>
          </label>
        </div>
        
        <div class="pad-top">
          <label for="saveKeyLocally">
            <input
              type="checkbox" name="saveKeyLocally" id="saveKeyLocally"
              (change)="storage.saveKeyLocally = !storage.saveKeyLocally"
              [checked] = "storage.saveKeyLocally"
            />
            <span> 💾 save in localStorage</span>
          </label>  
        </div>
      </div>

      <ng-container *ngIf="enableServerMode || storage.saveKeyLocally">
        <div *ngIf="enableServerMode" class="flex1 bg-grey">
          <div class="flex-apart">
            <strong class="nowrap">🔐 Private Keys</strong>
            <div class="flex-1 text-center pad-left">
              <a class="text-xxs text-white opacity-half nowrap" target="_blank"
                href="https://dashboard.stripe.com/test/apikeys"
              >🔗 stripe keys</a>
            </div>
          </div>
          <div>
            <keys-input-array inputType="password" [array]="storage.privateKeys" [(selected)]="storage.privateKey" allowChange="1" inputPlaceholder="🔑 value">
              <ng-template #valueFooter let-value="value">
                <div class="pos-rel">
                  <div class="pos-abs opacity-70 text-xxxs text-center width-full" style="top:-.9em">
                    <masked-key [value]="value"></masked-key>
                  </div>      
                </div>
              </ng-template>
            </keys-input-array>
          </div>
        </div>

        <div class="flex1 bg-grey">
          <webhook-secret-edit (save)="save()"></webhook-secret-edit>
        </div>

        <div class="flex1 bg-grey">
          <webhook-server-edit (save)="save()"></webhook-server-edit>
        </div>

        <fieldset class="radius-10">
          <legend>🏦 Plaid</legend>
          <div class="flex-wrap child-margin-xxs child-pad-xs">
            <div class="flex1 bg-grey">
              <strong class="nowrap">🆔 Plaid CLIENT_IDs</strong>
              <small class="block opacity-half text-xxxs text-center">
                Store multiple keys for convenient switching
              </small>
              <div>
                <keys-input-array inputType="password" [array]="storage.plaid.clientIds" [(selected)]="storage.plaid.client_id" allowChange="1" inputPlaceholder="🔑 value">
                  <ng-template #valueFooter let-value="value">
                    <div class="pos-rel width-full">
                      <div class="pos-abs opacity-70 text-xxxs text-center width-full" style="top:-.9em">
                        <masked-key [value]="value"></masked-key>
                      </div>      
                    </div>
                  </ng-template>
                </keys-input-array>
              </div>
            </div>

            <div *ngIf="enableServerMode" class="flex1 bg-grey">
              <strong class="nowrap">👂 Secrets</strong>
              <small class="block opacity-half text-xxxs text-center">
                Store multiple keys for convenient switching
              </small>
              <div>
                <keys-input-array inputType="password" [array]="storage.plaid.secrets" [selected]="storage.plaid.secret" allowChange="1" inputPlaceholder="🔑 value">
                  <ng-template #valueFooter let-value="value">
                    <div class="pos-rel width-full">
                      <div class="pos-abs opacity-70 text-xxxs text-center width-full" style="top:-.9em">
                        <masked-key [value]="value"></masked-key>
                      </div>      
                    </div>
                  </ng-template>
                </keys-input-array>
              </div>
            </div>
          </div>
        </fieldset>
      </ng-container>
    </div>

    <!-- reusable metadata -->
    <div class="margin-xxs pad-xs bg-grey">
      <div>
        <div>
          <strong>
            <label for="saveRequestsLocal" title="Greatly assists coming back to this interface">
              <input
                type="checkbox" name="saveRequestsLocal" id="saveRequestsLocal"
                (change)="storage.saveRequestsLocal = !storage.saveRequestsLocal"
                [checked] = "storage.saveRequestsLocal"
              /> Reuse metadata in all requests
            </label>
          </strong>
        </div>
        <textarea [disabled]="!storage.saveRequestsLocal" wrap="off" style="width:100%;height:25vh;min-height:200px;"
          (change)="updateStorageMeta($event.target.value)"
        >{{ storage.metadata | json }}</textArea>
      </div>
    </div>

    <br />

    <!-- Removed 8/16/21 to prevent revealing sensitive info
      <div>
        <strong>Your local storage</strong>
        <textarea wrap="off" style="width:100%;height:25vh;min-height:200px;" disabled
        >{{ storage | json }}</textArea>
      </div>
    -->

    <div class="flex-wrap child-margin-xxs flex-center child-flex-1">
      <button *ngIf="storage.privateKey || storage.key"
        type="button" (click)="deleteLocalStorage()"
        class="hover-bg-positive active-bg-balanced bg-black text-white"
      >🗑 clear localStorage</button>

      <button type="button" (click)="editChange.emit(edit = !edit)"
        class="bg-grey text-white hover-bg-positive active-bg-balanced"
      >❌ cancel</button>

      <button type="submit" class="bg-balanced hover-bg-positive active-bg-energized">💾 save</button>
    </div>
  </form>
</ng-template>

<!-- 💠 -->
<ng-template #privateKeyChange>
  <key-changer [keys]="storage.privateKeys" [(value)]="storage.privateKey"
    (valueChange) = "tempPrivateKey=$event;save()"
  ></key-changer>
</ng-template>
