<div class="flex-wrap">
  <div class="flex-1 text-smx max-width-80vw">
    <!--
      <div *ngIf="config.request" style="overflow-wrap:break-word">
        {{config.request.method}}&nbsp;/{{config.request.path}}&nbsp;&nbsp;
      </div>
    -->
    <div *ngIf="config.hint" class="text-xs opacity-80 pad-left">{{config.hint}}</div>
  </div>

  <ng-container *ngTemplateOutlet="requestHeaderItems"></ng-container>
</div>

<ng-container *ngIf="showParams">
  <div class="pos-rel">
    <div class="pos-abs right-0 top-0 text-xxxs text-dark pad-xxs opacity-half"
    >🔗 path parameters</div>
  </div>
  <textarea wrap="off" style="width:100%;height:10vh;min-height:125px;"
    (change)="changeByString(config.request, 'params', $event.target.value)"
    [value] = "config.request.params || {} | json"
  ></textArea>
</ng-container>

<ng-container *ngIf="showHeaders">
  <div class="pos-rel">
    <div class="pos-abs right-0 top-0 text-xxxs pad-xxs opacity-half">🈁 http headers</div>
  </div>
  <textarea wrap="off" style="width:100%;height:10vh;min-height:125px;"
    (change)="changeByString(config.request, 'headers', $event.target.value)"
    [value] = "config.request.headers || {} | json"
  ></textArea>
</ng-container>

<ng-container *ngIf="showPost">
  <div class="pos-rel">
    <div class="pos-abs right-0 top-0 text-xxxs pad-xxs flex">
      <span class="opacity-half">🧾 input data</span>
      <a *ngIf="config.examples" class="flex-center flex-valign-center pad-left"
        (click)="showExamples=!showExamples"
      >
        💠
        <menu-options *ngIf="showExamples" title="input data examples">
          <ng-container *ngFor="let item of config.examples">
            <ng-template #option>
              <a class="border-bottom border-grey pad-xs hover-bg-energized"
                (click)="config.data = item.data"
                [class.bg-warning]="config.data === item.data"
              >{{item.title}}</a>
            </ng-template>
          </ng-container>
        </menu-options>
      </a>
    </div>
  </div>
  <textarea wrap="off" style="width:100%;min-height:300px;"
    (change)="changeByString(config, 'data', $event.target.value)"
    [value] = "config.data || {} | json"
  ></textArea>
</ng-container>

<ng-container *ngIf="config.error">
  <div class="bg-assertive pad-xxs">
    <strong>🐛 Error</strong>
    <dump [value]="config.error"></dump>
  </div>
  <!--
    <textarea wrap="off"
      disabled style="background-color:rgba(228, 134, 134, 0.678);width:100%;height:25vh;min-height:275px;"
      [value] = "config.error | json"
    ></textArea>
  -->

  <ng-container *ngIf="config.error.doc_url">
    <ng-container *ngTemplateOutlet="linkButton;context:{title:'🔗 error doc', url:config.error.doc_url}"></ng-container>
  </ng-container>
</ng-container>


<ng-container *ngTemplateOutlet="prependFormFooter"></ng-container>

<ng-container *ngFor="let item of config.smarts.runtimeMessages">
  <div class="bg-warning text-dark pad margin-v text-xs">{{item.message}}</div>
</ng-container>

<div *ngIf="config.warn" class="opacity-half text-xs pad-xs text-energized">{{config.warn}}</div>

<!-- buttons -->
<div class="flex-wrap">
  <button type="button" class="bg-balanced flex-1 hover-bg-positive active-bg-balanced"
    (click)="config.smarts.$send.emit(config.data)"
    [disabled] = "config.smarts.load"
  >
    {{config.result ? '⬇️' : '⬆️'}} {{ config.request ? 'request' : 'execute'}}
  </button>

  <button type="button" class="flex-1 hover-bg-positive active-bg-balanced"
    (click)="showPost = !showPost" [ngClass]="showPost && 'bg-info text-dark'"
  >🧾 inputs</button>

  <ng-container *ngIf="config.request">
    <button type="button" *ngIf="config.request.params" class="flex-1 hover-bg-positive active-bg-balanced"
      (click)="showParams = !showParams" [ngClass]="showParams && 'bg-info text-dark'"
    >🔗 params</button>
    <button type="button" class="flex-1 hover-bg-positive active-bg-balanced"
      (click)="showHeaders = !showHeaders" [ngClass]="showHeaders && 'bg-info text-dark'"
    >🈁 headers</button>
  </ng-container>
</div>

<div>
  <span *ngIf="config.smarts.load" class="nowrap">🔄 loading</span>
</div>

<ng-container *ngIf="config.result">
  <br />
  <div *ngTemplateOutlet="simpleRouteResults;context:{resultAt: config.resultAt, result: config.result}"></div>
</ng-container>

<ng-container *ngIf="config.favKeys">
  <ng-container *ngFor="let copyConfig of config.favKeys">
    <small *ngIf="config[copyConfig.valueKey] || copyConfig.get" class="opacity-50 text-smx">
      <ng-container *ngIf="!copyConfig.type || copyConfig.type === 'copy'">
        <a class="pointer border radius-5 pad-xxs margin-xxs hover-bg-energized active-bg-balanced"
          (click)="copyText( config[copyConfig.valueKey] || copyConfig.get(config) )"
        >✍️ copy {{copyConfig.title || copyConfig.valueKey}}</a>
      </ng-container>

      <ng-container *ngIf="copyConfig.type === 'link'">
        <ng-container *ngTemplateOutlet="linkButton;context:{title:copyConfig.title || copyConfig.valueKey, url:config[copyConfig.valueKey] || copyConfig.get(config)}"></ng-container>
      </ng-container>
    </small>
  </ng-container>
</ng-container>

<ng-template #linkButton let-url="url" let-title="title">
  <a class="pointer border radius-5 pad-xxs margin-xxs hover-bg-energized active-bg-balanced"
    [href]="url" target="_blank"
  >{{title}}</a>
</ng-template>


<ng-template #simpleRouteResults let-resultAt="resultAt" let-result="result" let-title="title">
  <br />
  <div class="flex">
    <strong class="flex-1"
      [class.text-assertive] = "result.error"
    >↘️ {{title || 'Result'}}</strong>

    <small *ngIf="copy && result && result[copy]" style="opacity:.5;font-size: 0.8em;">
      <a class="pointer border radius-5 pad-xxs margin-xxs hover-bg-energized active-bg-balanced"
        (click)="copyText(result[copy])"
      >✍️ copy {{copy}}</a>
    </small>
    <small *ngIf="resultAt" class="opacity-half text-xs">{{resultAt | date : 'mediumTime' }}</small>
  </div>

  <div class="pos-rel">
    <div class="pos-abs text-xxxs child-margin-1 flex" style="top:-18px;right:-6px">
      <a class="flex-valign-center radius-5 text-white pad-h-xxs hover-bg-balanced bg-dark" (click)="showAll = !showAll"
        title="hide/show all sub objects"
      >👁</a>
      <a class="flex-valign-center radius-5 text-white pad-h-xxs hover-bg-balanced" (click)="format='small';formatChange.emit(format)"
        [class]="!format || format==='small' ? 'bg-positive' : 'bg-dark'"
      >small</a>
      <a class="flex-valign-center radius-5 text-white pad-h-xxs hover-bg-balanced" (click)="format='json';formatChange.emit(format)"
        [class]="format==='json' ? 'bg-positive' : 'bg-dark'"
      >json</a>
    </div>
  </div>

  <div class="max-height-600 overflow" *ngIf="!format || format==='small'">
    <dump [value]="result" [showKids]="showAll"></dump>
  </div>

  <textarea *ngIf="format==='json'" disabled wrap="off" style="width:100%;min-height:400px"
    [class.bg-danger] = "result.error"
  >{{ result | json }}</textArea>
</ng-template>
