<div class="tool-wrap">
  <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
    <h3 style="margin:0;padding:0;flex-grow:1;color:white">
      <label for="card-like-element">
        {{api.title}}
      </label>
    </h3>
    <small *ngIf="api.link" class="pad-left-xs">
      <a [href]="api.link" class="text-white no-a-style" target="_blank"
      >📕docs</a>
    </small>
  </div>
  <div class="tool-panel">
    <p *ngIf="api.description" class="text-xs text-xs opacity-80">{{api.description}}</p>
    <simple-route-edit [config]="api" [pasteFavs]="pasteFavs">
      <ng-template #requestHeaderItems>
        <ng-container *ngTemplateOutlet="requestHeaderItemsTemplate"></ng-container>
      </ng-template>
      <ng-template #prependFormFooter>
        <ng-container *ngTemplateOutlet="prependFormFooterTemplate"></ng-container>
      </ng-template>
    </simple-route-edit>
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </div>
</div>
