<div class="flex-apart">
  <strong class="nowrap flex-1">🪝 Webhook Secrets</strong>
  <div class="text-center pad-left">    
    <small class="block opacity-80 text-center">
      <a href="https://dashboard.stripe.com/test/webhooks" target="_blank" class="text-xxs text-white opacity-half nowrap">🔗 stripe webhooks</a>
    </small>
  </div>
</div>
<div>
  <keys-input-array inputType="password" [array]="storage.webhookSigningSecrets" [(value)]="storage.webhookSigningSecret" allowChange="1">
    <ng-template #valueFooter let-value="value">
      <div class="pos-rel">
        <div class="pos-abs opacity-70 text-xxxs text-center width-full" style="top:-1em">
          <masked-key [value]="value"></masked-key>
        </div>      
      </div>
    </ng-template>
  </keys-input-array>
</div>
