/* Commonly used classes */
@import "node_modules/ack-css-boot/scss/ack-css-boot"; // may require ../ ref

* {box-sizing:border-box;line-height: 1.5em}
html, body{width:100%;height:100%;padding:0;margin:0;}
html {
  scroll-behavior:smooth;font-size:calc(22px + .4vw);
}
input[type="radio"],input[type="checkbox"] {width:1em;height:1em;}
textarea, button, input {padding:.5vw;border-radius:.5vw;font-size:.7em;}

body {
  font-family:Helvetica;
  background-color:#555;
}

tool-wrap, .tool-wrap {
  /*flex:2 2 20em;*/
  margin:.5em;
  display:flex;flex-direction:column;
  min-width:20vw;
}

.tool-panel {
  flex-grow:1;
  border-radius:5px;background-color:#888;text-align:left;width:100%;padding:.6em;
}

.resource-link {
  margin:.2em;padding:.2em;text-decoration: none;
  border-radius:5px;border:1px solid rgba(233, 233, 233, 0.678);
}

.hover-highlight:hover {
  background-color: khaki;
}

.hover-highlight:active {
  background-color: blue;
}

/* small screens */
@media only screen and (max-width: 1900px) {
  .tool-wrap {min-width: 30vw}
}

@media only screen and (max-width: 1300px) {
  .tool-wrap {min-width: 45vw}
}

@media only screen and (max-width: 800px) {
  .tool-wrap {min-width: 80vw}
}

@media (prefers-color-scheme: dark) {
  body {
    color:#EEE
  }
  button, input, textarea {
    background-color: #222;color:#EEE
  }
}
