<style>
  .tool-wrap {
    flex:2 2 20em;
    margin:2em;display:flex;flex-direction:column;
  }

  .tool-panel {
    flex-grow:1;
    border-radius:5px;background-color:#888;text-align:left;width:100%;padding:1em;
  }
</style>
<table cellPadding="0" cellSpacing="0" border="0" style="width:100%;height:100%">
  <tr>
    <td>
      <br />
      <h1 style="text-align: center;margin:1em;color:white">stripe-angular {{version}}</h1>
      <ng-container *ngIf="!loaded">Loading...</ng-container>

      <ng-container *ngIf="loaded">
        <div style="flex-wrap:wrap;display:flex;display:flex;justify-content:center">

          <div class="tool-wrap" style="flex-grow:1">
            <h3 style="margin:0;text-align:left;color:white"
            >Stripe Key</h3>
            <div style="flex-grow:1;border-radius:5px;background-color:#888;text-align:left;width:100%;padding:1em;">
              <ng-container *ngTemplateOutlet="keyInfoUi"></ng-container>
            </div>
          </div>

          <ng-container *ngIf="stripe && !changekey">
            <div class="tool-wrap">
              <label for="card-like-element" style="display:flex;flex-wrap:wrap;align-items:center;color:white;">
                <h3 style="flex-grow:1;margin:0;text-align:left;"
                >Card Element</h3>
                <small>
                  <a
                  href="https://stripe.com/docs/testing#cards"
                  style="color:white;" target="_blank"
                  >demo card nums</a>
                </small>
              </label>

              <div class="tool-panel">
                <ng-container *ngTemplateOutlet="cardUi"></ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items:baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label for="card-like-element">
                    Bank Account
                  </label>
                </h3>
                <small>
                  <a
                    href="https://stripe.com/docs/ach#testing-ach"
                    style="color:white;" target="_blank"
                  >demo accounts</a>
                </small>
              </div>
              <div class="tool-panel">
                <ng-container *ngTemplateOutlet="bankUi"></ng-container>
              </div>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="storage.privateKey">
          <br /><br />

          <div style="color:white;text-align:center;">
            <h2
              style="opacity: 50%;"
            >Server Functionality</h2>
            <small>Helpful tools ONLY available in this demo by using entered <strong>privateKey</strong></small>
            <br /><br />
          </div>

          <div style="flex-wrap:wrap;display:flex;display:flex;justify-content:center">
            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label for="card-like-element">
                    Create Customer
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/customers"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="card.source"
                    (click)="customer.data.source = card.source.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer.data.source === card.source.id && '.3'"
                    [title] = "card.source.id"
                  >
                    use source {{card.source.card.brand}} {{card.source.card.last4}}
                  </a>
                  <a
                    *ngIf="card.payment_method"
                    (click)="customer.data.payment_method = card.payment_method.id;setCustomerDefaultPayMethod(customer.data, card.payment_method)"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer.data.payment_method === card.payment_method.id && '.3'"
                    [title] = "card.payment_method.id"
                  >
                    use method {{card.payment_method.card.brand}} {{card.payment_method.card.last4}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:customer}"></ng-container>

                <ng-container *ngIf="card.payment_method && customer.result">
                  <ng-container *ngTemplateOutlet="customerPayMethodAttach;context:{payMethod:card.payment_method, customer:customer.result}"></ng-container>
                </ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    GET Customer
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/customers/retrieve"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="customer.result"
                    (click)="customer_get.data.id = customer.result.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer_get.data.id === customer.result.id && '.3'"
                  >
                    use customer {{customer.result.id}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:customer_get}"></ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    UPDATE Customer
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/customers/update"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="customer.result"
                    (click)="customer_update.data = cleanCustomerUpdateData(customer.result)"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer_update.data.id === customer.result.id && '.3'"
                  >
                    use customer {{customer.result.id}}
                  </a>

                  <a
                    *ngIf="card.source"
                    (click)="customer_update.data.source = card.source.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer_update.data.source === card.source.id && '.3'"
                    [title] = "card.source.id"
                  >
                    use source {{card.source.card.brand}} {{card.source.card.last4}}
                  </a>

                  <a
                    *ngIf="card.payment_method"
                    (click)="setCustomerDefaultPayMethod(customer_update.data, card.payment_method)"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer_update.data.payment_method === card.payment_method.id && '.3'"
                  >
                    default method {{card.payment_method.card.brand}} {{card.payment_method.card.last4}}
                  </a>

                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:customer_update}"></ng-container>

                <ng-container *ngIf="card.payment_method && customer_update.data.id">
                  <ng-container *ngTemplateOutlet="customerPayMethodAttach;context:{payMethod:card.payment_method, customer:customer_update.data}"></ng-container>
                </ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    GET Payment Methods
                  </label>
                </h3>
                <small>
                  <a
                    href = "https://stripe.com/docs/api/payment_methods/list"
                    style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="customer.result"
                    (click)="get_paymethods.data.customer = customer.result.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "get_paymethods.data.customer === customer.result.id && '.3'"
                  >
                    use customer {{customer.result.id}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:get_paymethods}"></ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    GET Payment Method
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/payment_methods/retrieve"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="payment_method_get.result"
                    (click)="payment_method_get.data.id = payment_method_get.result.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payment_method_get.data.id === payment_method_get.result.id && '.3'"
                    [title] = "payment_method_get.result.id"
                  >
                    use type {{payment_method_get.result.type}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:payment_method_get}"></ng-container>

                <ng-container *ngIf="payment_method_get.result">
                  <button
                    type="button"
                    (click)="createCustomerByPaymentMethod(payment_method_get.result)"
                    [style.opacity]="payment_method_get.result.customer ? '.3' : null"
                  >create customer by payment method</button>
                </ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    UPDATE Payment Method
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/payments/checkout/subscriptions/update-payment-details"
                  style="color:white;" target="_blank"
                  >checkout docs</a>&nbsp;
                  <a
                  href="https://stripe.com/docs/api/payment_methods/update"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="payment_method_get.result"
                    (click)="payment_method_update.data = cleanPaymentMethodUpdateData(payment_method_get.result)"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payment_method_update.data.id === payment_method_get.result.id && '.3'"
                    [title] = "payment_method_get.result.id"
                  >
                    use pay method type {{payment_method_get.result.type}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:payment_method_update}"></ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    GET Customer Sources
                  </label>
                </h3>
                <small>
                  <a
                    href = "https://stripe.com/docs/api/cards/list"
                    style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="customer.result"
                    (click)="customer_get_sources.data.id = customer.result.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "customer_get_sources.data.id === customer.result.id && '.3'"
                  >
                    use customer {{customer.result.id}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:customer_get_sources}"></ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    GET Source
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/sources/retrieve"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="card.source"
                    (click)="source_get.data.id = card.source.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "source_get.data.id === card.source.id && '.3'"
                    [title] = "card.source.id"
                  >
                    use {{card.source.card.brand}} {{card.source.card.last4}}
                  </a>
                </small>

                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:source_get}"></ng-container>

                <ng-container *ngIf="source_get.result">
                  <button
                    type="button"
                    (click)="createCustomerByToken(source_get.result)"
                    [style.opacity] = "customer.data.source === source_get.result.id && '.3'"
                  >create customer by source</button>
                </ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label>
                    UPDATE Source
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/sources/update"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="source_get.result"
                    (click)="source_update.data = cleanSourceUpdateData(source_get.result)"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "source_update.data.id === source_get.result.id && '.3'"
                    [title] = "source_get.result.id"
                  >
                    use source type {{source_get.result.type}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:source_update}"></ng-container>
              </div>
            </div>

            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label for="card-like-element">
                    Create Pay Intent
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/payment_intents"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="customer.result"
                    (click)="payintent.data.customer = customer.result.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payintent.data.customer === customer.result.id && '.3'"
                  >
                    use customer {{customer.result.description}}
                  </a>
                  <a
                    *ngIf="customer_get.data"
                    (click)="payintent.data.customer = customer_get.data.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payintent.data.customer === customer_get.data.id && '.3'"
                  >
                    use GET customer {{customer_get.data.id}}
                  </a>
                  <a
                    *ngIf="card.payment_method"
                    (click)="payintent.data.payment_method = card.payment_method.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payintent.data.payment_method === card.payment_method.id && '.3'"
                    [title] = "card.payment_method.id"
                  >
                    use method {{card.payment_method.card.brand}} {{card.payment_method.card.last4}}
                  </a>
                  <a
                    *ngIf="card.source"
                    (click)="payintent.data.payment_method = card.source.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payintent.data.payment_method === card.source.id && '.3'"
                    [title] = "card.source.id"
                  >
                    use source {{card.source.card.brand}} {{card.source.card.last4}}
                  </a>
                  <a
                    *ngIf="card.token"
                    (click)="payintent.data.payment_method = card.token.card.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "payintent.data.payment_method === card.token.card.id && '.3'"
                    [title] = "card.token.id"
                  >
                    use token {{card.token.card.brand}} {{card.token.card.last4}}
                  </a>
                </small>

                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:payintent}"></ng-container>

                <ng-container *ngIf="payintent.result">
                  <button type="button" (click)="fetchPayIntentUpdate(payintent)">retrieve update</button>
                </ng-container>

                <ng-container *ngIf="payintent.result?.next_action?.use_stripe_sdk?.stripe_js">
                  <div>
                    <strong>next action:&nbsp;</strong>
                    <a [href]="payintent.result.next_action?.use_stripe_sdk.stripe_js" target="_blank">secure payment verify link</a>
                  </div>
                </ng-container>

                <ng-container *ngIf="payintent.retrieve">
                  <textarea
                    wrap="off" style="width:100%;height:175px" disabled
                  >{{ payintent.retrieve | json }}</textArea>
                </ng-container>
              </div>
            </div>


            <div class="tool-wrap">
              <div style="display:flex;flex-wrap:wrap;align-items: baseline;">
                <h3 style="margin:0;padding:0;flex-grow:1;color:white">
                  <label for="card-like-element">
                    Create Charge
                  </label>
                </h3>
                <small>
                  <a
                  href="https://stripe.com/docs/api/charges"
                  style="color:white;" target="_blank"
                  >api docs</a>
                </small>
              </div>
              <div class="tool-panel">
                <small style="display:flex;flex-wrap:wrap;color:white;">
                  <a
                    *ngIf="card.payment_method"
                    (click)="charge.data.payment_method = card.payment_method.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [style.opacity] = "charge.data.payment_method === card.payment_method.id && '.3'"
                    [title] = "card.payment_method.id"
                  >
                    use method {{card.payment_method.card.brand}} {{card.payment_method.card.last4}}
                  </a>

                  <a
                    *ngIf="card.token"
                    (click)="charge.data.source = card.token.card.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [title] = "card.token.id"
                  >
                    use token {{card.token.card.brand}} {{card.token.card.last4}}
                  </a>

                  <a
                    *ngIf="card.source"
                    (click)="charge.data.source = card.source.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [title] = "card.source.id"
                  >
                    use source{{card.source.card.brand}} {{card.source.card.last4}}
                  </a>

                  <a
                    *ngIf="bank.token"
                    (click)="charge.data.source = bank.token.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                    [title] = "bank.token.id"
                  >
                    use bank {{bank.token.bank_account.bank_name}} {{bank.token.bank_account.last4}}
                  </a>

                  <a *ngIf="customer.result"
                    (click)="charge.data.customer=customer.result.id"
                    style="text-decoration:underline;cursor:pointer;margin:1em;"
                  >
                    use customer {{customer.result.description}}
                  </a>
                </small>
                <ng-container *ngTemplateOutlet="simpleRouteEditor;context:{config:charge}"></ng-container>
                <div style="text-align:center;opacity:.5;">
                  <small>
                    <a href="https://stripe.com/docs/payments/payment-intents/migration/charges" target="_blank"
                    >prefer pay intents</a>
                  </small>
                </div>
              </div>
            </div>

          </div>
        </ng-container>

        <ng-container *ngIf="sending">
          <div>
            Sending to Stripe...
          </div>
        </ng-container>

        <div *ngIf="lastError" style="color:red;">
          <textarea wrap="off" style="color:red;width:100%;height:175px">{{lastError | json}}</textArea>
        </div>

        <div *ngIf="!stripe" style="color:red;">
          Stripe publishable key has not yet been set
        </div>
      </ng-container>

      <div class="tool-wrap" style="align-items: center;">
        <h2
          style="margin:0;text-align:left;color:white;"
        >Best of Resources</h2>
        <div style="border-radius:5px;background-color:#888;text-align:left;max-width:600px;padding:1em;">
          <ng-container *ngTemplateOutlet="resources"></ng-container>
        </div>
      </div>
      <br />
    </td>
  </tr>
</table>


<ng-template #keyInfoUi>
  <div *ngIf="!changekey else storageForm">
    <div style="display:flex;flex-wrap:wrap">
      <div style="margin:1em;">
        <strong>publishableKey</strong>
        <div>{{ storage.key | slice : 0 : 16 }}...</div>
      </div>

      <div *ngIf="storage.privateKey" style="margin:1em;">
        <strong>privateKey</strong>
        <div>{{ storage.privateKey | slice : 0 : 8 }}...</div>
      </div>
    </div>

    <br />

    <button
      type="button"
      (click)="changekey=!changekey"
      style="width:100%"
    >CHANGE API SETTINGS</button>

    <ng-container *ngIf="publishableKey=='pk_test_5JZuHhxsinNGc5JanVWWKSKq'">
      <br />
      <br />
      <div style="font-size:0.75em;">
        <strong style="font-size:1.2em;color:orange;">WARNING</strong>: You need to enter your own key above.
        <p>
          You will have limited functionality without entering your own Stripe key. <a href="https://dashboard.stripe.com/register" target="_blank">
          create account</a>
        </p>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #storageForm>
  <div *ngIf="changekey" style="padding:1em;">
    <form onsubmit="return false" (submit)="save(tempPublishableKey);changekey=false">
      <strong>publishableKey</strong>
      <div>
        <input
          (keyup)="tempPublishableKey=$event.target.value"
          [value]="tempPublishableKey"
          style="min-width:200px"
        />
      </div>
      <div style="display:flex;flex-wrap: wrap;">
        <div style="padding:.5em;">
          <label for="saveKeyLocally" style="align-items: center">
            <input
              type="checkbox" name="saveKeyLocally" id="saveKeyLocally"
              (change)="saveKeyLocally = !saveKeyLocally"
              [checked] = "storage.key"
            />
            <span>save Stripe key in localStorage</span>
          </label>
        </div>

        <div style="padding:.5em;">
          <label for="saveKeyLocally" style="align-items: center" title="Greatly assists coming back to this interface">
            <input
              type="checkbox" name="saveKeyLocally" id="saveKeyLocally"
              (change)="saveKeyLocally = !saveKeyLocally"
              [checked] = "storage.key"
            />
            <span>save requests in localStorage</span>
          </label>
        </div>
      </div>

      <div *ngIf="enableServerMode || storage.privateKey">
        <strong style="color:orange;">privateKey</strong>
        <div>
          <input
            type="password"
            (keyup)="tempPrivateKey=$event.target.value;log('tempPrivateKey length update' + tempPrivateKey.length)"
            [value]="tempPrivateKey"
            style="min-width:200px"
          />
        </div>
        <div style="padding:.5em;">
          <small style="opacity: 70%;">
            This demo offers helpful server functionality that can really help close knowledge gaps
          </small>
        </div>
        <div style="padding:.5em;">
          <label for="savePrivateKeyLocally" style="align-items: center">
            <input
              type="checkbox" name="savePrivateKeyLocally" id="savePrivateKeyLocally"
              (change)="savePrivateKeyLocally = !savePrivateKeyLocally"
              [checked] = "storage.privateKey"
            />
            <span>save Stripe private key in localStorage</span>
          </label>
        </div>
      </div>

      <div style="padding:.5em;">
        <label for="enableServerMode" style="align-items: center">
          <input
            type="checkbox" name="enableServerMode" id="enableServerMode"
            (change)="toggleServerMode()"
            [checked] = "enableServerMode || tempPrivateKey"
          />
          <span>enable server functionality</span>
        </label>
      </div>
      <div style="text-align:center;">
        <button
          *ngIf="storage.privateKey || storage.key"
          type="button" (click)="deleteLocalStorage()"
          style="background-color: black;color:white;padding:.4em;font-size:.8em;"
        >clear localStorage</button>
        <button
          type="button" (click)="changekey = !changekey"
          style="background-color: black;color:white;padding:.4em;font-size:.8em;"
          >cancel</button>
          <button type="submit"
          style="padding:.4em;font-size:.8em;"
        >save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #cardUi>
  <div id="card-like-element" style="background-color:white;border-radius: 5px;border:1px solid #DDD;padding:.33em;">
    <stripe-card
      #stripeCard
      (changed) = "card.changedEvent = $event"
      [options] = "options"
      [(token)]="card.token"
      (tokenChange)="sending=false"
      [(source)]="card.source"
      (sourceChange)="setSource($event)"
      [(paymentMethod)]="card.payment_method"
      (paymentMethodChange)="setPaymentMethod($event)"
      [(complete)]="cardComplete"
      (catch)="sending=false;lastError=$event"
      (invalidChange)="sending=false;lastError=$event"
      (cardMounted) = "log('card mounted')"
    ></stripe-card>
  </div>

  <br />

  <div
    *ngIf="cardComplete"
    style="text-align:right;display:flex;flex-wrap:wrap;font-size:1em;"
  >
    <button
      type="button"
      (click)="lastError=null;sending=true;stripeCard.createSource(sourceRequest)"
      style="font-size:1em;flex-grow:1;background-color:#99FFFF;"
      title="Using Payment Method instead is recommended"
    >
      create source
    </button>

    <button
      type="button"
      (click)="lastError=null;sending=true;stripeCard.createPaymentMethod(paymentMethodRequest)"
      style="font-size:1em;flex-grow:1;background-color:#99FFFF;"
    >
      create payment method
    </button>

    <button
      type="button"
      (click)="lastError=null;sending=true;stripeCard.createToken(extraData)"
      style="font-size:1em;flex-grow:1;background-color:#99FFFF;"
      title="Using Payment Method instead is recommended"
    >
      create token
    </button>
  </div>

  <br />

  <h3 style="flex-grow:1;margin:0;">Card Controls</h3>
  <div *ngIf="editExtraData">
    <br />
    <div style="display:flex;justify-content:space-between">
      <strong title="Card specific way of providing token related info (includes metadata)">token data</strong>
      <small>
        <a href="https://stripe.com/docs/api/tokens" target="_blank">token data</a>
      </small>
    </div>
    <textarea
      wrap="off" style="width:100%;height:175px"
      (change)="changeExtraData($event.target.value)"
    >{{ extraData | json }}</textArea>
  </div>

  <div *ngIf="editPaymentMethodRequest">
    <br />
    <div style="display:flex;justify-content:space-between">
      <div>payment method data</div>
      <small>
        <a href="https://stripe.com/docs/payments/payment-methods/overview" target="_blank">overview</a>&nbsp;
        <a href="https://stripe.com/docs/js/payment_methods/create_payment_method" target="_blank">docs</a>
      </small>
    </div>
    <textarea wrap="off" style="width:100%;height:175px" (change)="changePaymentMethodRequest($event.target.value)">{{ paymentMethodRequest | json }}</textArea>
      <div style="opacity: 0.5;font-size:0.7em;padding:1em 0;">creating a payment method alone does not fire any web hooks. Use Source instead</div>
    </div>

    <div *ngIf="editSourceRequest">
      <br />
      <div style="display:flex;justify-content:space-between">
        <strong>source data</strong>
        <small>
          <a href="https://stripe.com/docs/js/tokens_sources/create_source" target="_blank">docs</a>
        </small>
      </div>
    <textarea wrap="off" style="width:100%;height:175px" (change)="changeSourceRequest($event.target.value)">{{ sourceRequest | json }}</textArea>
  </div>

  <div *ngIf="editOptions">
    <br />
    <div style="display:flex;justify-content:space-between">
      <strong>
        options
      </strong>
      <small>
        <a href="https://stripe.com/docs/js/elements_object/create_element?type=card" target="_blank">docs</a>
      </small>
    </div>
    <textarea
      wrap="off" style="width:100%;height:175px"
      (change)="changeOptions($event.target.value)"
    >{{ options | json }}</textArea>
  </div>

  <div style="text-align:right;display:flex;flex-wrap:wrap;">
    <button
      type="button"
      (click)="editSourceRequest=!editSourceRequest"
      style="flex-grow:1"
      [style.background-color] = "editSourceRequest && '#0099CC' || null"
      title="Using Payment Method instead is recommended"
    >
      source data
    </button>

    <button
      type="button"
      (click)="editPaymentMethodRequest=!editPaymentMethodRequest"
      style="flex-grow:1"
      [style.background-color] = "editPaymentMethodRequest && '#0099CC' || null"
    >
      payment method data
    </button>

    <button
      type="button"
      (click)="editExtraData=!editExtraData"
      style="flex-grow:1"
      [style.background-color] = "editExtraData && '#0099CC' || null"
      title="Using Payment Method instead is recommended"
    >
      token data
    </button>

    <button
      type="button"
      (click)="editOptions=!editOptions"
      style="flex-grow:1"
      [style.background-color] = "editOptions && '#0099CC' || null"
    >
      options
    </button>
  </div>

  <br />

  <div *ngIf="card.token">
    <br />
    <strong>Token Response</strong>
    <textarea
      disabled wrap="off" style="width:100%;height:175px"
    >{{ card.token | json }}</textArea>
  </div>

  <div *ngIf="card.source">
    <br />
    <strong>Source Response</strong>
    <textarea
      disabled wrap="off" style="width:100%;height:175px"
    >{{ card.source | json }}</textArea>
  </div>

  <div *ngIf="card.payment_method">
    <br />
    <strong>Payment Method Response</strong>
    <textarea
      disabled wrap="off" style="width:100%;height:175px"
    >{{ card.payment_method | json }}</textArea>
  </div>

  <div style="text-align:right;opacity:70%">
    <small>
      card complete: <strong>{{ cardComplete }}</strong>
    </small>
  </div>

  <div *ngIf="card.changedEvent">
    <strong>Change Event</strong>
    <textarea
      wrap="off" style="width:100%;height:175px"
      (change)="changeExtraData($event.target.value)"
    >{{ card.changedEvent | json }}</textArea>
  </div>
</ng-template>

<ng-template #bankUi>
  <stripe-bank
    #stripeBank
    [(token)]="bank.token"
    (tokenChange)="sending=false"
    (catch)="sending=false;lastError=$event"
    (invalidChange)="sending=false;lastError=$event"
  ></stripe-bank>
  <textarea
    wrap="off" style="width:100%;height:175px"
    (change)="changeKey(bank, $event.target.value)"
  >{{ bank.data | json }}</textArea>

  <br />

  <div style="text-align:right;">
    <button
      type="button"
      (click)="lastError=null;sending=true;stripeBank.createToken(bank.data)"
    >create token</button>
  </div>

  <!-- bank token success output -->
  <div *ngIf="bank.token">
    <br />
    <strong>Bank Token</strong>
    <textarea
    disabled wrap="off" style="width:100%;height:175px"
    >{{ bank.token | json }}</textArea>
  </div>

  <ng-container *ngIf="storage.privateKey && bank.token?.bank_account?.id">
    <br />
    <div style="display:flex;flex-wrap: wrap;align-items: baseline;">
      <h3 style="flex-grow:1;color:orange;">Bank Server Functions</h3>
      <small>(using privateKey)</small>
    </div>

    <button
      type="button"
      (click)="createCustomerByToken(bank.token)"
    >create customer by token</button>

    <div *ngIf="customer.result?.id">
      <br />
      <div style="display:flex;flex-wrap:wrap;align-items:baseline;">
        <h3 style="flex-grow: 1;">Verify customer micro deposits</h3>
        <small>
          <a style="color:white;" href="https://stripe.com/docs/ach#testing-ach">test data</a>
        </small>
      </div>
      <div style="display:flex;flex-wrap:wrap;">
        <div style="flex-grow: 1;">
          <div>Verify Amount 1</div>
          <input
            style="width:100%" type="number"
            [value]="bank.verify.amount1"
            (keyup)="bank.verify.amount1=$event.target.value"
            placeholder="Enter 32 here"
          />
        </div>
        <div style="flex-grow: 1;">
          <div>Verify Amount 2</div>
          <input
            style="width:100%" type="number"
            [value]="bank.verify.amount2"
            (keyup)="bank.verify.amount2=$event.target.value"
            placeholder="Enter 45 here"
          />
        </div>
      </div>
      <button
        type="button"
        (click)="verifyBank()"
      >verify</button>

      <div *ngIf="bank.verifyResponse">
        <br />
        <strong>Verification Result</strong>
        <textarea
          disabled wrap="off" style="width:100%;height:175px"
        >{{ bank.verifyResponse | json }}</textArea>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #simpleRouteEditor
  let-key="key" let-config="config"
>
  <textarea
    wrap="off" style="width:100%;height:175px"
    (change)="changeKey(config, $event.target.value)"
  >{{ config.data | json }}</textArea>

  <button
    type="button"
    (click)="config.$send.emit(config.data)"
  >send request</button>

  <ng-container *ngIf="config.load">... loading ...</ng-container>

  <ng-container *ngIf="config.result">
    <div *ngTemplateOutlet="simpleRouteResults;context:{resultAt: config.resultAt, result: config.result}"></div>
  </ng-container>
</ng-template>

<ng-template #simpleRouteResults let-resultAt="resultAt" let-result="result" let-title="title">
  <br />
  <div style="display:flex;">
    <strong style="flex-grow:1">{{title || 'Result'}}</strong>
    <small *ngIf="resultAt" style="opacity:.5">{{resultAt | date : 'mediumTime' }}</small>
  </div>
  <textarea
    disabled wrap="off" style="width:100%;height:350px"
  >{{ result | json }}</textArea>
</ng-template>

<ng-template #resources>
  <div style="text-align:center;display:flex;justify-content: center;flex-wrap:wrap">
    <a
      href="https://github.com/AckerApple/stripe-angular/blob/master/app/src/components/app.component.ts"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >demo code on github</a>
    <a
      href="https://stripe.com/docs/error-codes"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >error-codes</a>

    <a
      href="https://stripe.dev/elements-examples/"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >stripe elements examples</a>

    <a
      href="https://stripe.com/docs/js"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >stripe.js docs</a>

    <a
      href="https://stripe.com/docs/api/sources/object#source_object-type"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >source types</a>

    <a
      href="https://www.youtube.com/watch?v=_1EX-DrikoA"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >Bank ACH YouTube</a>

    <a
      href="https://stripe.com/docs/payments/payment-intents/migration/charges"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >Pay Intent API VS. Charges API</a>

    <a
      href="https://stripe.com/docs/api/payment_methods/update"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >update payment method</a>

    <a
      href="https://stripe.com/docs/api/cards/update"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >update source card</a>

    <a
      href="https://stripe.com/docs/api/cards/delete"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >delete source card</a>

    <a
      href="https://support.stripe.com/questions/check-if-a-card-is-valid-without-a-charge"
      target="_blank" style="flex-grow:1;margin:.2em;"
    >check card valid without charge</a>
  </div>
</ng-template>

<ng-template #customerPayMethodAttach let-customer="customer" let-payMethod="payMethod">
  <button (click)="attachCustomerPayMethod(customer.id, payMethod)">
    attach method {{payMethod.card.brand}} {{payMethod.card.last4}}
  </button>

  <button (click)="detachCustomerPayMethod(payMethod)">
    detach method {{payMethod.card.brand}} {{payMethod.card.last4}}
  </button>

  <ng-container *ngIf="customer_attach_method.result">
    <div *ngTemplateOutlet="simpleRouteResults;context:{resultAt: customer_attach_method.resultAt, result: customer_attach_method.result, title: 'Attach Result'}"></div>
  </ng-container>

  <ng-container *ngIf="customer_detach_method.result">
    <div *ngTemplateOutlet="simpleRouteResults;context:{resultAt: customer_detach_method.resultAt, result: customer_detach_method.result, title: 'Detach Result'}"></div>
  </ng-container>
</ng-template>